* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

h1 {
  margin: 0;
}

@media (min-width: 450px) {
  h1 {
    padding-left: 50px;
  }
}

.actions {
  text-align: center;
  padding: 32px 0;
}

@media (min-width: 950px) {
  .actions {
    text-align: initial;
  }
}

@media (min-width: 450px) {
  .actions {
    padding: 0;
  }
}

.actions .login, .actions .sign-up {
  text-transform: capitalize;
}

.actions .login {
  padding: 0 16px;
}

@media (min-width: 950px) {
  .actions .login {
    border-left: 1px solid #fff;
  }
}

@media (max-width: 450px) {
  .actions .login {
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 8px 16px;
    width: 100%;
    box-shadow: 0 1px 4px #2c2c2c;
  }
}

.actions .sign-up {
  background: linear-gradient(to right, #b33e96, #f3854e);
  border-radius: 20px;
  padding: 8px 16px;
  box-shadow: 0 1px 3px #2e2e2e;
  width: 100%;
}

@media (min-width: 450px) {
  .actions .sign-up {
    width: initial;
  }
}

li {
  display: inline-block;
}

li a {
  text-transform: capitalize;
  line-height: 100px;
  padding: 0 12px;
  position: relative;
}

li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), transparent 85%, transparent);
  opacity: 0;
  transition: opacity 0.4s;
}

li a:hover::after {
  opacity: 1;
}

nav {
  display: none;
}

@media (min-width: 950px) {
  nav {
    display: block;
  }
}

header {
  background: linear-gradient(to right, #5c6bcc, #853eab);
  padding: 32px 0;
}

@media (min-width: 950px) {
  header {
    padding: 0;
  }
}

.content {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 450px) {
  .content {
    flex-direction: row;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

svg {
  display: none;
}

@media (max-width: 950px) {
  svg {
    position: absolute;
    left: 24px;
    top: 34px;
    display: inline-block;
    padding-right: 20px;
    fill: #fff;
    cursor: pointer;
  }
}

nav.open {
  display: block;
}

@media (max-width: 950px) {
  nav.open ul {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 3rem;
  }

  nav.open li {
    display: block;
    border-bottom: 1px solid #ccc;
  }

  nav.open li a {
    width: 100%;
    line-height: 70px;
  }
}
