/* Global Styles */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

h1 {
  margin: 0;
}

.logo {
  margin-left: 3.5rem;
}

/* Actions */
.actions {
  text-align: center;
  padding: 2rem 0;
}

.actions .login,
.actions .sign-up {
  text-transform: capitalize;
}

.actions .login {
  padding: 0 1rem;
}

.actions .sign-up {
  background: linear-gradient(to right, #b33e96, #f3854e);
  border-radius: 1.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.0625rem 0.1875rem #2e2e2e;
  width: 100%;
}


/*Button*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 100px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background-color: transparent;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db ) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  box-shadow: 0 0 60px #4D77FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #4D77FF;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@media (min-width: 59.375rem) {
  .actions {
    text-align: initial;
  }

  .actions .login {
    border-left: 0.0625rem solid #fff;
  }
}

@media (max-width: 28.125rem) {
  .actions {
    padding: 0;
  }

  .actions .login {
    margin-bottom: 1.25rem;
    border: 0.0625rem solid #fff;
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    width: 100%;
    box-shadow: 0 0.0625rem 0.25rem #2c2c2c;
  }
}

@media (min-width: 28.125rem) {
  .actions .sign-up {
    width: initial;
  }
}

/* List Items */
li {
  display: inline-block;
}

li a {
  text-transform: capitalize;
  line-height: 6.25rem;
  padding: 0 0.75rem;
  position: relative;
}

li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), transparent 85%, transparent);
  opacity: 0;
  transition: opacity 0.4s;
}

li a:hover::after {
  opacity: 1;
}

/* Navigation */
nav {
  display: none;
}

@media (min-width: 59.375rem) {
  nav {
    display: block;
  }
}

/* Nav Wrapper */
.nav-wrapper {
  display: flex;
  align-items: center;
  height: 50px; /* Example height value */
}

.wrapper {
  display: flex;
  align-items: center;
}

svg {
  display: none;
}

@media (max-width: 59.375rem) {
  svg {
    position: absolute;
    left: 1.5rem;
    top: 2.125rem;
    display: inline-block;
    padding-right: 1.25rem;
    fill: #fff;
    cursor: pointer;
  }
}

nav.open {
  display: block;
}

@media (max-width: 59.375rem) {
  nav.open ul {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.125rem 1.875rem;
  }

  nav.open li {
    display: block;
    border-bottom: 0.0625rem solid #ccc;
  }

  nav.open li a {
    width: 100%;
    line-height: 4.375rem;
  }
}

/* Container */
.container {

  max-width: 100rem;
  display: block;
  margin: 0 3rem;
}

/* Diagonals */
.diagonal {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  position: relative;
  height: 33rem;
}

.diagonal:nth-child(4),
.diagonal:nth-child(8) {
  display: relative;
  height: 40rem;
   /*background: linear-gradient(120deg,#00509c 0%,#00509c 25%,#0060bd 100%);*/
  background:#4D77FF;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db ) 100%);
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 1.5rem 3.1rem;
}

.diagonal:nth-child(6) {
  display: relative;
  height: 40rem;
 /*background: linear-gradient(120deg,#00509c 0%,#00509c 25%,#0060bd 100%);*/
  background:#4D77FF;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db ) 100%);
  height: 500px;
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 1.5rem 3.1rem;
}

/* Content of Diagonals */
.left-content {
  flex: 1;
  margin: 0rem 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.stay-home {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0 0;
  color: #0060bd;
}

.left-content h1 {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: black;
}

.text {
  color:  black;
}

.text.white {
  color: #fff;
}

.right-content {
  flex: 2;
  justify-content: center;
  margin-left: 2rem;

}
/* Normal Div */
.normal-div {
  height: 32rem;
}

/* Content */
.content {
  width: 100%;
  max-width: 76.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 28.125rem) {
  .content {
    flex-direction: row;
  }
}

/* PERPECTIVE */

@media (min-width: 768px) {
  .button-perspective {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

/* Header */
header {
  background:#4D77FF;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db ) 100%);
  padding: 2rem 0;
}

@media (min-width: 59.375rem) {
  header {
    padding: 0;
  }
}


