/* Global Styles */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

h1 {
  margin: 0;
}

.logo {
  margin-left: 3.5rem;
}

/* Actions */
.actions {
  text-align: center;
  padding: 2rem 0;
}

.actions .login,
.actions .sign-up {
  text-transform: capitalize;
}

.actions .login {
  padding: 0 1rem;
}

.actions .sign-up {
  background: linear-gradient(to right, #b33e96, #f3854e);
  border-radius: 1.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.0625rem 0.1875rem #2e2e2e;
  width: 100%;
}

@media (min-width: 59.375rem) {
  .actions {
    text-align: initial;
  }

  .actions .login {
    border-left: 0.0625rem solid #fff;
  }
}

@media (max-width: 28.125rem) {
  .actions {
    padding: 0;
  }

  .actions .login {
    margin-bottom: 1.25rem;
    border: 0.0625rem solid #fff;
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    width: 100%;
    box-shadow: 0 0.0625rem 0.25rem #2c2c2c;
  }
}

@media (min-width: 28.125rem) {
  .actions .sign-up {
    width: initial;
  }
}


/*Buttons */


/* List Items */
li {
  display: inline-block;
}

li a {
  text-transform: capitalize;
  line-height: 6.25rem;
  padding: 0 0.75rem;
  position: relative;
}

li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), transparent 85%, transparent);
  opacity: 0;
  transition: opacity 0.4s;
}

li a:hover::after {
  opacity: 1;
}

/* Navigation */
nav {
  display: none;
}

@media (min-width: 59.375rem) {
  nav {
    display: block;
  }
}

/* Nav Wrapper */
.nav-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  /* Example height value */
}

.menu-wrapper {
  display: flex;
  align-items: center;
}

svg {
  display: none;
}

@media (max-width: 59.375rem) {
  svg {
    position: absolute;
    left: 1.5rem;
    top: 2.12rem;
    display: inline-block;
    padding-right: 1.25rem;
    fill: #fff;
    cursor: pointer;
  }
}

nav.open {
  display: block;
}

@media (max-width: 59.375rem) {
  nav.open ul {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.1rem 1.8rem;
  }

  nav.open li {
    display: block;
    border-bottom: 0.06rem solid #ccc;
  }

  nav.open li a {
    width: 100%;
    line-height: 4.3rem;F
  }
}

.model3D {
  margin-left: 2rem;
  width: 33rem;
  height: 33rem;
}

/* Container */
.container {
  max-width: 100rem;
  margin: 3rem 3rem;
}

/* Diagonals */
.diagonal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  height: 33rem;
}

.diagonal:nth-child(4),
.diagonal:nth-child(8) {
  height: 40rem;
  /*background: linear-gradient(120deg,#00509c 0%,#00509c 25%,#0060bd 100%);*/
  background: #4D77FF;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db) 100%);
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 1.5rem 3.1rem;
}

.diagonal:nth-child(6) {
  height: 40rem;
  /*background: linear-gradient(120deg,#00509c 0%,#00509c 25%,#0060bd 100%);*/
  background: #4D77FF;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db) 100%);
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 1.5rem 3.1rem;
}

/* Content of Diagonals */
.left-content {
  flex: 1;
  justify-content: center;
  margin: 0rem 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.stay-home {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0 0;
  color: #0060bd;
}

.left-content h1 {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: black;
}

.couple {
  margin-top: 5rem;
  margin-left: 3rem;
  width: 15rem;
}

.text {
  color: black;
}

.text.white {
  color: #fff;
}

.right-content {
  flex: 2;
  justify-content: center;
  margin-left: 2rem;
}

/* Normal Div */
.normal-div {
  height: 50rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

/* Content */
.top-menu {
  width: 100%;
  max-width: 76.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;https://i.redd.it/b3esnz5ra34y.jpg
}

@media (min-width: 28.125rem) {
  .top-menu {
    flex-direction: row;
  }
}

/* PERSPECTIVE */
@media (min-width: 768px) {
  .button-perspective {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

/* Header */
header {
  background: #4D77FF;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db) 100%);
  padding: 2rem 0;
}

@media (min-width: 59.375rem) {
  header {
    padding: 0;
  }
}

/*Benefits */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.gallery-item {
  height: 30rem;
  width: 25rem;
  margin: 1rem 0;
  transition: ease all 2.3s;
  perspective: 1200px;
  position: relative;
}

.gallery-item:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cover:before {
  content: '';
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}

.cover.item-a {
  background-image: url("/src/images/endurance-higher.jpg");
}

.cover.item-b {
  background-image: url("/src/images/strength-higher.jpg");
}

.cover.item-c {
  background-image: url("/src/images/calories-burned.jpg");
}

.gallery-title {
  font-weight: 600;
  position: absolute;
  bottom: 0.5rem;
  left: 3rem;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 2rem;
  transform: translateZ(0px);
}
.gallery-title.first{
  bottom: 0.5rem;
  left: 2rem;
}

.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: #4D77FF;
  background-image: linear-gradient(90deg, #4D77FF 0%, var(--e-global-color-9c764db) 100%);
  opacity: 100%;
  border: 0px solid white;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  margin: 1rem 1rem;
  outline: none;
  text-decoration: none;
}

.card-back.a {
  background-image: url("/src/images/endurance-higher.jpg");
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);

}

.card-back.b {
  background-image: url("/src/images/strength-higher.jpg");
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.card-back.c {
  background-image: url("/src/images/calories-burned.jpg");
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.gallery-item:hover .cover:before {
  transform: translateZ(30px);
  border: 5px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.gallery-item:hover .cover:after {
  background-color: black;
}

.gallery-item:hover h1 {
  transform: translateZ(100px);
}

.gallery-item:hover .price {
  transform: translateZ(60px);
}

.gallery-item:hover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

/* Grid */

.cards-list {
  margin-bottom: 5rem;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 3rem;
  width: 15rem;
  height: 15rem;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}


.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -5rem;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

/* testimonials */
.testimonials {
  margin: 200px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

.testimonials .testimonial-card {
  position: relative;
  width: 350px;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.testimonials .testimonial-card .layer {
  position: absolute;
  top: calc(100% - 3px);
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(#03a9f4, #e81dd3);
  z-index: 1;
  transition: 0.5s;
}

.testimonials .testimonial-card:hover .layer {
  top: 0;
}

.testimonials .testimonial-card .cardcontent {
  position: relative;
  z-index: 2;
}

.testimonials .testimonial-card .cardcontent p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.testimonials .testimonial-card .cardcontent .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonials .testimonial-card .cardcontent .details h2 {
  font-size: 15px;
  color: #fff;
}

.testimonials .testimonial-card .cardcontent .details h2 span {
  color: #03a9f4;
  font-size: 12px;
  transition: 0.5s;
}

.testimonials .testimonial-card:hover .cardcontent .details h2 span {
  color: #fff;
}

/**Contact**/
.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tabcard {
  position: relative;
  flex: 1;
  max-width: 300px;
  height: 140px;
  background-color: #444;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 32px;
  color: #ea8685;
  transition: .3s linear;
}

.tab:hover .icon {
  transform: scale(4);
  opacity: 0;
}

.tab-content h3,
.tab-content span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  opacity: 0;
}

.tab-content h3 {
  top: 20px;
  text-transform: uppercase;
  color: #ea8685;
}

.tab-content span {
  bottom: 20px;
  color: #fff;
  font-weight: 500;
}

.tabcard:hover h3 {
  opacity: 1;
  top: 46px;
  transition: .3s linear .3s;
}

.tabcard:hover span {
  opacity: 1;
  bottom: 46px;
  transition: .3s linear .3s;
}


@media screen and (max-width: 900px) {
  .tabcard {
    flex: 100%;
    max-width: 500px;
  }
}

/*Contact form*/
.main-wrapper {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  min-height: 480px;
  min-width: 370px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-wrapper {
  display: flex;
}

.left-wrapper {
  flex: 1;
  height: 480px;
  background-color: #00b4cf;
}

.right-wrapper {
  display: flex;
  flex: 1;
  height: 460px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.left-wrapper {
  display: flex;
  flex: 1;
  height: 480px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.left-inner-wrapper {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus,
textarea:focus {
  outline: 1px solid #00b4cf;
}

.submit-btn {
  border-radius: 20px;
  border: 1px solid #00b4cf;
  background-color: #00b4cf;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.7;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .left-wrapper {
    display: none;
  }
  .lg-view {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}

form p {
  text-align: left;
}
